.register{
    background-color:rgba(126, 123, 123, 0.2);
    display: flex;
    width: 33em;
    height: 40em;
    border: 0;
    text-align:center;
    float: center;
    margin-top: 5%;
    margin-left: 35%;
    margin-bottom: 5%;
}

[title="E-mail"]{
    color:white !important;
    
    }
[title="Nume"]{
    color:white !important;
        
        }
[title="Prenume"]{
    color:white !important;
            
 }
 [title="Confirm Password"]{
    color:white !important;
            
 }
 [title="Phone Number"]{
    color:white !important;
            
 }
 [title="User Type"]{
    color:white !important;
            
 }
.formStyle{
    margin-top: 10%;
    
}
.FormRegister{
    position:relative;
    text-align: center;
    float: center;
    
}
.formStyle{
    margin-top: 10%;
    
}